html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container{
    max-width: 670px;
    margin: 0 auto;
    padding: 20px;
}

textarea{
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    border-radius: 5px;
    border: 1px solid grey;
    padding: 10px;
}

textarea:hover{
    border: 1px solid #9EDC55;
}

textarea:focus{
    border: 1px solid #57C65B;
}

.btn {
    background: grey;
    border-radius: 3px;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background: #9EDC55;
    text-decoration: none;
    border: none;
}

.btn:focus {
    background: #57C65B;
    text-decoration: none;
    border: none;
}
